<nav ngClass="parent-menu">
  <ul>
    <li>
      <a [routerLink]="['home']" >Home</a>
    </li>

    <li>
      <a [routerLink]="['admin']" >Admin</a>
    </li>
    <li>
      <a [routerLink]="['merchant']" >Merchant</a>
    </li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>



<!-- Host Lisner -->


{{title}}

<br>
{{title1}}

<!-- interpolation error handling -->

<div>
 Company: {{company ?.name}}
</div>

<div>
  Company: {{company && company.name}}
 </div>


 <!-- Cookies example -->

 <br>
 <button type="button" (click)="click()">Click Me</button>



 <app-comp1></app-comp1>
 <app-comp2></app-comp2>